@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-black text-gray-200;
	}
}

@layer components {
	.area {
		@apply p-4 rounded-xl bg-slate-900 border-2 border-slate-800;
	}

	.interactive {
		@apply rounded-xl bg-slate-800 border-2 border-slate-700 transition-colors
			hover:bg-slate-700 outline-none focus:bg-slate-700;
	}
}
